

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.step {
	display: none;
}
.stepActive {
	display: block;
}

.fc-agendaWeek-view tr {
    height: 30px;
}

.fc-agendaDay-view tr {
    height: 30px;
}

.fc-event {
	overflow: visible;
	padding: 3px;
}

.fc-view-container {
  font-family: arial;
	background-color: #fbfbfb;
}


/* https://github.com/tholman/github-corners/blob/master/css/styles.css */
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
